@import "media/Nike_Combat_Stencil/stylesheet.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

html, body , #PageWrap{
	background-color: #BBBBBB;
	width: 100%;
	font-family: Roboto;
	background-image: url("media/draftboard_background.png");
}

nav {
	background-color: #000000;
	padding: 20px;
	width: 100%;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav ul div {
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.7em;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*Styles for logo in the navbar*/

.logo {
 	border: 2px solid #555555;
 	padding: 5px;
 }

.FANTASY {
	color: #F4F122;
 	font-family: "Nike Combat Stencil", "Black Ops One";
 	position: relative;
 	right: 25px;
 }
 
 .IH8 {
 	font-size: .5em;
 	position: relative;
 	bottom: 25px;
 	left: 130px;
 	background-color: #000000;
 	padding: 1px 6px;
 }

/*Styles for the rest of navbar links*/
#navmenu li a{
	padding: 20px 10px;
}

#navmenu li a:hover {
	background-color: #555555;
}

.menuButton {
	display: none;
}


/*Styles for header section*/
header {
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	color: #F4F122;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding: 30px;
}
