* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html, body , #PageWrap{
	background-color: #BBBBBB;
	width: 100%;
	font-family: Roboto;
}

nav {
	background-color: #000000;
	padding: 20px;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav ul div {
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.7em;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*Styles for logo in the navbar*/

.logo {
	position: relative;
	bottom: 25px;
}

/*Styles for the rest of navbar links*/
#navmenu li a{
	padding: 20px 10px;
}

#navmenu li a:hover {
	background-color: #555555;
}


/*Styles for header section*/
header {
	background-image: url("media/draftboard_background.png");
	text-align: center;
	color: #FFFFFF;
	padding: 20px;
}