/*Font used for logo font family - "Nike Combat Stencil"*/
@import "media/Nike_Combat_Stencil/stylesheet.css"; 

* {
	box-sizing: border-box;/*Make everything a border box with no margin or padding*/
	padding: 0;
	margin: 0;

}

html, body , #PageWrap{
	width: 100%;	/*Set page to be as wide as the screen */
	font-family: Roboto; /*Set generic font*/
	color: #FFFFFF; /*make all text white by default*/
	background-image: url("media/draftboard_background.png"); /*Set background image for page*/
}

nav {
	background-color: #000000; /*Make navbar black*/
	padding: 20px;/*allow space for content*/
	width: 100%;/*set width to entire screen*/
	position: fixed; /*keeps navbar at the top while scrolling*/
	z-index: 1; /*layers navbar over any other content*/
}

header, main, footer { /*position all other page divs to offset navbar positioning*/
	position: relative;
	top: 60px;
}

nav ul li { /*Remove dots from list and show list in a horizontal line*/
	list-style-type: none;
	display: inline;
}

nav ul div { /*align navmenu elements to the right side of the screen*/ 
	text-align: right;
}

nav ul li a {
	text-decoration: none; /*remove underline from links as default*/
	font-size: 1.7em; /*Make nav link size larger*/
	font-family: 'Aldrich', sans-serif; /*set font family for navmenu links*/
}

.left { /*class to float any element left*/
	float: left;
}

.right { /*class to  float any element right*/
	float: right;
}

/*Styles for logo in the navbar*/

.logo { /*grey logo border and padding*/
 	border: 2px solid #555555; 
 	padding: 5px; 
 }

.FANTASY { /*yellow stencil letters offset to compensate for logo positioning*/
	color: #F4F122;
 	font-family: "Nike Combat Stencil", "Black Ops One", sans-serif;
 	position: relative;
 	right: 25px;
 }
 
 .IH8 { /*generic letters with black background positioned with logo placement*/
 	font-size: .5em;
 	position: relative;
 	bottom: 25px;
 	left: 135px;
 	color: #FFFFFF;
 	background-color: #000000;
 	padding: 1px 6px;
 }

/*Styles for the rest of navbar links*/
#navmenu li a{
	padding: 20px 10px;/*yellow links that fill entire height of navbar*/
	color: #F4F122;
}

#navmenu li a:hover {
	background-color: #555555; /*turn grey  when user hovers over nav link*/
}

.menuButton {
	display: none; /*hide menu button on regular sized screens*/
}


/*Styles for header section*/
header { /*center and style text in the header*/
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	color: #FFFFFF;
	padding: 30px;
}

.headerDescription { /*styles for header containing div*/
	background-color: rgba(20,20,20,.8); 
	border-radius: 20px; 
	width: 80%; 
	margin-right: auto;
	margin-left: auto;
	padding: 20px;

}

/*Styles for preview section*/
.preview {
	display: flex; /*flexbox to allow for mobile compatability*/
	flex-wrap: wrap; /*allow divs to wrap as needed*/
	justify-content: space-around; /*justify and align divs so that they are evenly spaced*/
	align-content: space-around;
	background-color: #555555; /*grey background*/
	width: 100%; /*width of entire screen*/
	text-align: center; /*center text*/
	padding: 20px 0px; /*space above and below preview options*/
}

.preview div {
	width: 400px; /*standard width for each option*/
  	margin: auto;  /* Magic! seriously */
}

.preview a { /* white links without underline on a black background with rounded eddges*/
	color: #FFFFFF;
	text-decoration: none;
	margin: 20px 0px;
	padding: 10px;
	background-color: #000000;
  	border-radius: 20px;
}

.preview a:hover { /*change background to yellow and text to grey when user hovers over preview option*/
	background-color: #F4F122;
	color: #333333;
}

.preview h1 {
	font-family: 'Aldrich', sans-serif; 
}

.preview * {
	margin: 5px 0px; /*space elements in the preview boxes*/
}

.podFrame {
	padding: 20px;
	color: #FFFFFF;
	font-family: 'Aldrich', sans-serif;
	background-color: rgba(20,20,20,.8); 
	border-radius: 20px;
	width: 90%;
	margin: 20px auto;
}

.podFrame h1{
	margin-bottom: 20px;
}
